.page-header{
    background-color: white;
    color: black;
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.page-header2{
    background-color: white;
    /* display : flex; */
    color: black;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.page-header3{
    background-color: white;
    color: black;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.row{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: stretch;
}
.text{
    background-color: white;
    color: black;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.story{
    border: 1px solid black;
    padding: 5px;
}

.half {
    flex: 2;
}

.quarter {
    flex: 1;
}

.three-quarter {
    flex: 3;
}

.story-img {
    width : 100%;
}

.nav-list {
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
    list-style: none;

}


.nav-item{
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 30px;
    padding-left: 25px;
    font-family: monospace;
    font-weight: bold;
}

.nav-item a{
    text-decoration: none;
    color: black;
}

.nav-item a:hover{
    color: whitesmoke;
    text-decoration: underline;
}
.nav-item:nth-child(1) { background-color: #2E4057;}
.nav-item:nth-child(2) { background-color: #558B6E;}
.nav-item:nth-child(3) { background-color: #CAFFB9;}
.nav-item:nth-child(4) { background-color: #AEF78E;}
.nav-item:nth-child(5) { background-color: #C0D461;}